* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    --amarelo-padrao: #F5C518;
    --text-padrao: azure;
    --bg-color: #121212;
    --sec-black: rgb(36, 36, 36);
    background-color: var(--bg-color);
}

.cabecalho {
    width: 100%;
}


.inicio {
    display: flex;
    background-color: rgb(10, 10, 10);
    justify-content: space-around;
    height: 132px;
}

.logoi {
    width: 100px;
    height: 100px;

}

.div_logoi {
    padding-top: 20px;

}

.menu {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-items: center;
    text-decoration: none;
    text-decoration: none;

}

.nav {
    width: 60%;
    display: flex;
    justify-content: space-around;
    color: var(--text-padrao);
    align-self: center;
    text-decoration: none;
}

.label-menu {
    display: none;
}

.checkbox {
    display: none;
}

a {
    padding: 10px;
    text-decoration: none;
    color: var(--amarelo-padrao);
    text-transform: uppercase;
    font-weight: 700;
}

.cabecalho a:hover {
    background-color: var(--amarelo-padrao);
    color: var(--bg-color);
    border-radius: 20px;

}

.busca {
    align-self: center;
    text-decoration: none;
}

#busca {
    background: transparent;
    border-radius: 20px;
    border-color: var(--amarelo-padrao);
    width: 200px;
    color: var(--text-padrao);
    height: 35px;
    display: flex;
    background: url(./imagens/lupa-de-detetive.png) no-repeat;
    background-position: 5%;
    padding-left: 30px;

}

.fim {
    display: flex;
    position: relative;
    bottom: 0;
    flex-direction: row;
    background-color: rgb(10, 10, 10);
    justify-content: space-around;
    height: 132px;
    width: 100%;
    justify-content: flex-end;
}

.div_logof {
    padding-top: 20px;
    padding-right: 20px;
}

/*PARTE THIAGO*/
/*EM DESTAQUE*/
.emDestaque {
    padding-bottom: 10px;
}

.emDestaque header {
    display: flex;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px 0px 50px;
}

.titulo1 {
    color: var(--amarelo-padrao);
}

.seletor {
    cursor: pointer;
    width: 150px;
    height: 30px;
    border: 0px;
    background-color: var(--amarelo-padrao);
    border-radius: 10px;
    color: var(--sec-black);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

option {
    width: 150px;
    height: 30px;
    border: 0px;
    background-color: var(--amarelo-padrao);
    border-radius: 10px;
    color: var(--sec-black);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.conteudoDestaque {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;

}

.filmeDestaque {
    cursor: pointer;
    width: 20%;
    align-content: stretch;
}

.filmeDestaque img {
    max-width: 100%;
    width: 100%;
    height: 100%;

    border-radius: 10px;
}

.emDestaque footer,
.botaoUA-Wrapper {
    display: flex;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: flex-end;
}

.emDestaque footer input,
.botaoUA {
    cursor: pointer;
    width: 200px;
    height: 30px;
    border: 0px;
    background-color: var(--amarelo-padrao);
    border-radius: 10px;
    color: var(--sec-black);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 50px;

}

.btnPadrao {
    cursor: pointer;
    width: 130px;
    height: 30px;
    border: 0px;
    background-color: var(--amarelo-padrao);
    border-radius: 10px;
    color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

/*Making OF*/
.makingOf {
    margin-bottom: 10px;
}

.makingOf header {
    height: 20vh;
    margin-left: 50px;

}

.conteudoMakingOf {
    width: 100%;
    height: 60vh;
    display: flex;
    /*gap:10px;*/
    justify-content: space-around;

}

.makingOf footer {
    display: flex;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: flex-end;
}

.makingOf footer input {
    cursor: pointer;
    width: 200px;
    height: 30px;
    border: 0px;
    background-color: var(--amarelo-padrao);
    border-radius: 10px;
    color: var(--sec-black);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 50px;
}

.videoDestaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 25%;
    align-content: center;
    background-color: var(--amarelo-padrao);
    border-radius: 10px;
    padding-bottom: 10px;
}

.videoDestaque iframe {
    max-width: 100%;
    width: 100%;
    height: 70%;

    border-radius: 10px;
}

.MKFTxtPrincipal {
    margin: 10px 0px 10px 0px;
}

.MKFTxtPrincipal,
.MKFTxtSecundario {
    color: var(--bg-color);
    text-align: center;
    display: block;
}

.MKFTxtSecundario {
    font-size: 12px;
}

.MKFTxtPrincipal span,
.MKFTxtSecundario span {
    font-weight: 700;
}

/*SEGUNDA PARTE*/
.espaco_2 {
    margin-bottom: 10px;
}

.espaco_2 header {
    height: 20vh;
    margin-left: 50px;
}

.favoritos {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.adicionar {
    cursor: pointer;
    width: 20%;
    border: 2px;
    border-style: solid;
    border-color: var(--amarelo-padrao);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plus {
    padding: 5px 20px 5px 20px;
    font-size: xx-large;
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--amarelo-padrao);
    color: var(--amarelo-padrao);
    font-weight: 700;
}

.textadd {
    padding: 10px;
    color: var(--amarelo-padrao);
    font-weight: 700;

}

.filmesFav {
    width: 90%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    flex-direction: row;
}

.favmovie {
    width: auto;
    height: 50%;

}

.favmovie img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.classificar {
    display: flex;
    width: 70%;
    border: 2px;
    border-style: solid;
    border-color: var(--amarelo-padrao);


}

.botaoFav {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: flex-end;

}

.botaoFav span {
    cursor: pointer;
    padding: 2px 5px;
    margin: 10px;
    font-size: large;
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--amarelo-padrao);
    color: var(--amarelo-padrao);
    font-weight: 700;

}

/*QUINTA PARTE*/
.espaco_5 {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.espaco_5 header {
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: end;

}

.espaco_5 header h1 {
    padding: 5px 60px 5px 60px;
    color: var(--amarelo-padrao);
    border: 2px;
    border-radius: 15px;
    border-style: solid;
    background-color: var(--sec-black);
    border-color: var(--amarelo-padrao);

}

.discussao {
    height: 60vh;
    width: 80%;
}

.discussao article {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    color: var(--bg-color);
    border: 2px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--amarelo-padrao);
    background-color: var(--amarelo-padrao);
}

.discussao article p {
    align-self: center;
    margin: 2px;
    font-weight: 700;
    font-size: x-large;
}

.discussao article span {
    margin: 5px;
    font-size: small;
    align-self: flex-end;
}

.espaco_5 footer {
    display: flex;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: flex-end;
}

.espaco_5 footer input {
    cursor: pointer;
    width: 200px;
    height: 30px;
    border: 0px;
    background-color: var(--amarelo-padrao);
    border-radius: 10px;
    color: var(--sec-black);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 50px;
}

.opiniao p {
    text-align: center;
}

/*FIM PARTE THIAGO*/

/* PARTE LUAN */
/* Lançamentos */
.lancamento .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 50px 0px 50px;
}

.lancamento header{
    text-align: center;
    color: var(--amarelo-padrao);
    margin-top: 10px;
    margin-bottom: 10px;
}

.lancamento footer{
    display: flex;
    justify-content: center;
}

.lancamento .container h1 {
    color: var(--text-padrao);
}

.lancamento .container p {
    color: var(--text-padrao);
    text-align: justify;
}

.tab {
    display: inline-block;
    margin-left: 50px;
}

#bolas {
    display: flex;
    width: 110px;
    justify-content: flex-end;
    justify-content: space-around;
}

.bola-laranja {
    display: inline-block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: var(--amarelo-padrao);
}

.bola-branca {
    display: inline-block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: var(--text-padrao);
}

.img_estrelas {
    height: 30px;
}

.lancamento iframe {
    border-radius: 10px;
    margin-bottom: 20px;
}

/* PRIMEIRA PARTE */
.espaco_1 header {
    display: flex;
    height: 10vh;
    margin: 0px 50px 0px 50px;
}

.espaco_1 footer {
    display: flex;
    height: 10vh;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0px 50px 10px 50px;
}

.botao-top10 {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: flex-end;

}

.botao-top10 span {
    cursor: pointer;
    padding: 2px 5px;
    margin: 10px;
    font-size: large;
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--amarelo-padrao);
    color: var(--amarelo-padrao);
    font-weight: 700;
}

.conteudo-espaco_1{
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: space-around;
}

.filme-top10{
    cursor: pointer;
    width: 20%;
    align-content: stretch;
}

.img-espaco_1{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.numeros-top10{
    display: flex;
    justify-content: space-around;
}

#numeros-pers{
    font-size: 60px;
    color: var(--bg-color);
    text-shadow: 1px 1px 3px #F5C518, -1px -1px 3px #F5C518, 1px -1px 3px #F5C518, -1px 1px 3px #F5C518;
}

/* QUARTA PARTE */
.espaco_4 header{
    color: var(--amarelo-padrao);
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.espaco_4 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 50px 0px 50px;
}

.img-espaco4 {
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 10px;
}

.espaco_4 .container h1 {
    color: var(--amarelo-padrao);
    font-size: 15px;
}

.titleNOV {
    text-decoration: none;
}

.titleNOV h1 {
    padding: 10px;

    color: var(--amarelo-padrao);
    text-transform: uppercase;
    font-weight: 700;
}

.titleNOV h1:hover {
    background-color: var(--amarelo-padrao);
    color: var(--bg-color);
    border-radius: 20px;

}

.espaco_4 .container p {
    color: var(--text-padrao);
    text-align: justify;
}

.novidades {
    display: flex;
}

#pos-img-espaco4{
    display: flex;
    align-items: center;
    height: 250px;
}

.img-espaco4-prop {
    border-radius: 10%;
}

#espaco4-prop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* SÉTIMA PARTE */
.espaco_7 header{
    color: var(--amarelo-padrao);
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.espaco_7 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 130px;
}

.espaco_7 p {
    color: var(--text-padrao);
    font-size: 16px;
}

.espaco_7 button {
    cursor: pointer;
    background-color: var(--amarelo-padrao);
    border: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100%;
    width: 195px;
    height: 45px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    color: var(--sec-black);
}

.hov:hover {
    background-color: var(--text-padrao);
    color: var(--sec-black);
}

.hov2:hover {
    background-color: var(--amarelo-padrao);
    color: var(--bg-color);
    border-color: var(--bg-color);
}

.espaco_7 input,
textarea {
    background-color: var(--bg-color);
    border: var(--amarelo-padrao) solid;
    border-radius: 10px;
}

.espaco_7 input {
    cursor: pointer;
    width: 240px;
    height: 30px;
    color: var(--text-padrao);
}

.espaco_7 textarea {
    width: 515px;
    height: 183px;
    color: var(--text-padrao);
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

/* FIM PARTE LUAN */

/* TERCEIRA PARTE LUCAS*/

.titulo-ultimasAvaliacoes {
    margin-left: 50px;
    color: var(--amarelo-padrao);
    margin-bottom: 30px;
    margin-top: 30px;
}

.conteudoUltimasAvaliacoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 50px 0px 50px;
    gap: 10px;
}

.avaliacao1,
.avaliacao2,
.avaliacao3 {
    color: white;
    background-color: var(--sec-black);
    border-radius: 10px;
    padding: 5px;
}

.fotoUserIcon {
    float: left;
    clear: both;
    margin-bottom: 100px;
}

.avaliadorNome {
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    color: var(--amarelo-padrao);
}

.avaliadorTexto {
    margin: 5px 0px 5px 0px;
}

.imgEstrelasUltimasAvaliacoes {
    margin: 5px 0px 5px 0px;
    float: left;
    height: 30px;

}

.linhaEstrela {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.data {
    color: var(--amarelo-padrao);
    font-size: 20px;
    font-weight: 700;
}
/* Concluído  */

@media (max-width:600px) {
    .menu {
        background-color: var(--bg-color);
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        z-index: 1;

    }

    .cabecalho li {
        margin-top: 10px;
    }

    .cabecalho a:hover {
        background: none;
        color: var(--amarelo-padrao);
        text-decoration: underline;
    }

    .checkbox:checked~.menu {
        display: block;
    }

    .label-menu {
        color: var(--amarelo-padrao);
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 5px;
        padding: 10px;
    }

    .label-menu:hover {
        background-color: var(--amarelo-padrao);
        color: var(--sec-black);
        border-radius: 10px;
    }

    .hamburguer {
        border-top: 0.125rem solid;
        width: 1.25rem;

    }

    .hamburguer::after,
    .hamburguer::before {
        content: "";
        display: block;
        height: 0.125rem;
        width: 1.25rem;
        background: currentColor;
        margin-top: 0.3125rem;
    }

    .logoi {
        width: 50px;
        height: 50px;
        grid-column-start: 1;

    }

    .inicio {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 75px;
    }

    .busca {
        align-self: none;
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #busca {
        width: 200px;

    }

    .nav {
        grid-column-start: 5;
    }

    .favmovie:nth-child(4),
    .favmovie:nth-child(3) {
        display: none;
    }

    .filmeDestaque:nth-child(4),
    .filmeDestaque:nth-child(3) {
        display: none;
    }

    .filmeDestaque {
        width: auto;
        margin: 0px 10px 0px 10px;
    }

    .espaco_5 footer {
        align-items: flex-end;
    }

    .conteudoUltimasAvaliacoes {
        grid-template-columns: 1fr;
    }

    .videoDestaque {
        width: auto;
        margin: 0px 10px 0px 10px;
    }

    .videoDestaque:nth-child(3) {
        display: none;
    }
}